{% extends 'base.html' %}

{% block title %}
Details
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <h2>Tasks</h2>
                <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                <p>
                <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
                </p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
