{% extends 'base.html' %}

{% block title %}
Update Item
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Update Item</h1>
            <form method="POST">
                {% csrf_token %}
                {{ itemform.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
