<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>

    </footer>
</body>
</html>
